<%# @TASK T4.1 - Reject action turbo stream response %>

<%= turbo_stream.remove dom_id(@schedule) %>

<%= turbo_stream.update "toast" do %>
  <div class="toast toast-danger">
    ❌ 일정이 거부되었습니다: <%= @schedule.title %>
  </div>
<% end %>
